.btn {
  border-radius: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  text-transform: none;
  padding: 15px 72px;
  display: block;
  width: max-content;

  &.primary {
    background-color: #6538E7;

    &:hover,
    &:active {
      background-color: #3fef3b;
      color: #212529;
    }
  }

  &:focus {
    box-shadow: none;
  }
}
