//Roboto

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Thin.ttf');
  font-style: 100;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-ThinItalic.ttf');
  font-style: 100;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
  font-style: 300;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-LightItalic.ttf');
  font-style: 300;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Black.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-BlackItalic.ttf');
  font-style: italic;
  font-weight: 900;
}

//Debug Free Trial

@font-face {
  font-family: 'Debug-Free-Trial';
  src: url('/assets/fonts/Debug-Free-Trial/Debug-Free-Trial.otf');
}
