<section class="app-online-players">
  <div class="container">
    <div class="component-title">
      <h2 class="title text-center">Jugadores en Linea</h2>
      <p class="my-0 text-center">Aquí aparecerán las estadísticas próximamente</p>
    </div>
    <div class="grid-container">
      <div class="left-side">
        <div class="grid-card">
          <img src="/assets/images/ole-games-icon.png" alt="Ole Games Icon" class="img-fluid grid-card__image">
          <div class="grid-card__content">
            <p class="grid-card__paraph">Pr&oacute;ximamente</p>
            <h3 class="grid-card__title">Jugadores Online</h3>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="members-grid">
          <div class="grid-card">
            <div class="grid-card__wrapper">
              <img src="/assets/images/ole-games-icon.png" alt="Ole Games Icon" class="img-fluid grid-card__image">
              <div class="grid-card__content">
                <p class="grid-card__paraph">Pr&oacute;ximamente</p>
                <h3 class="grid-card__title">Miembros Registrados</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="members-grid">
          <div class="grid-card">
            <div class="grid-card__wrapper">
              <img src="/assets/images/ole-games-icon.png" alt="Ole Games Icon" class="img-fluid grid-card__image">
              <div class="grid-card__content">
                <p class="grid-card__paraph">Pr&oacute;ximamente</p>
                <h3 class="grid-card__title">Recompensas Semanales</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
