<section class="app-home">
  <div class="section-divider">
    <app-home-banner></app-home-banner>
  </div>
  <div class="section-divider">
    <app-home-begin></app-home-begin>
  </div>
  <div class="section-divider">
    <app-home-online-players></app-home-online-players>
  </div>
  <div class="section-divider">
    <app-home-online-games></app-home-online-games>
  </div>
  <div class="tos">
    <span>
      Terminos y Condiciones
    </span>
    <span class="tos-spacer"></span>
    <span>
      Preguntas Frecuentes
    </span>
  </div>
</section>
