<div id="wrapper">
  <header [ngClass]="{'blur-5 user-select-none': sidebarIsOpen, 'detail-is-open': detailIsOpen}">
    <app-header></app-header>
  </header>
  <aside [ngClass]="{'active': sidebarIsOpen, 'detail-is-open': detailIsOpen}" (click)="closeSidebar()">
    <app-sidebar></app-sidebar>
    <div class="sidebar-container" [ngClass]="{'active': sidebarIsOpen, 'detail-is-open': detailIsOpen}">
    </div>
  </aside>
  <main [ngClass]="{'blur-5 user-select-none': sidebarIsOpen, 'sidebar-is-open': sidebarIsOpen }">
    <div id="page" class="clearfix">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<div class="loader" *ngIf="loader">
  <div class="loader-wrapper">
    <img src="/assets/images/logo.png">
    <h3>Loading...</h3>
  </div>
</div>
<app-toasts></app-toasts>
