@import '../assets/scss/custom-breakpoints.scss';
@import '~bootstrap/scss/bootstrap-grid';

#wrapper {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 300px 1fr;

  @include media-breakpoint-down(xl) {
    grid-template-columns: 250px 1fr;
  }

  header {
    grid-column-start: 1;
    grid-column-end: -1;

    &.blur-5 {
      @include media-breakpoint-up(lg) {
        filter: none!important
      }
    }
  }

  main {
    &.blur-5 {
      @include media-breakpoint-up(lg) {
        filter: none!important
      }
    }
    @include media-breakpoint-down(md) {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  aside {
    @include media-breakpoint-down(md) {
      position: fixed;
      visibility: hidden;
      opacity: 0;
      transition: .3s;
      z-index: 999;
      width: 100%;
      height: 100vh;
    }

    app-sidebar {
      // position: fixed;
      position: absolute;
      width: 300px;
      height: calc(100% - 71px);
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      transition: .3s;

      @include media-breakpoint-down(xl) {
        width: 250px;
      }

      @include media-breakpoint-down(md) {
        transform: translateX(-100%);
        background: #07031e;
        height: 100%;
      }
    }

    &.active {
      @include media-breakpoint-down(md) {
        visibility: visible;
        opacity: 1;
      }

      app-sidebar {
        @include media-breakpoint-down(md) {
          transform: translateX(0%);
        }
      }
    }
  }
}
