<div class="sidebar-wrapper" [ngClass]="{ 'active': sidebarIsOpened }">
  <div class="sidebar-wrapper__menu" >
    <div class="logo__wrapper">
      <img src="/assets/images/logo.png" alt="" class="img-fluid logo">
    </div>
    <button class="close-sidebar" (click)="closeSidebar()">
      &times;
    </button>
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/home" routerLinkActive="active" (click)="onNavigate()">
          <i class="fa-solid fa-house"></i>
          Home
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/nft" routerLinkActive="active" (click)="onNavigate()">
          <i class="fa-regular fa-window-restore"></i>
          NFT
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/games" routerLinkActive="active" (click)="onNavigate()">
          <i class="fa-solid fa-gamepad"></i>
          Juegos
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/tournaments" routerLinkActive="active" (click)="onNavigate()">
          <i class="fa-solid fa-trophy"></i>
          Torneos
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/contact" routerLinkActive="active" (click)="onNavigate()">
          <i class="fa-regular fa-envelope"></i>
          Contacto
        </a>
      </li>
    </ul>
  </div>
</div>

