<section class="app-home-banner">
  <div class="container">
    <div class="banner">
      <img src="/assets/images/home/home-banner/banner-bg.png" alt="Banner" class="banner-bg">
      <div class="banner-content">
        <h1 class="juega-online">Juega Online</h1>
        <h2 class="gana-bnb">Gana BNB</h2>
        <p class="bienvenido">Bienvenido a Ole Games</p>
        <p class="plataforma">¡La plataforma NFT que estabas esperando!</p>
      </div>
    </div>
    <div class="social-media">
      <a class="social-media__item" href="#" target="_blank">
        <i class="fa-regular fa-paper-plane social-media__icon"></i>
        <div class="social-media__badge">
          En
        </div>
      </a>
      <a class="social-media__item" href="#" target="_blank">
        <i class="fa-regular fa-paper-plane social-media__icon"></i>
        <div class="social-media__badge">
          Es
        </div>
      </a>
      <a class="social-media__item" href="#" target="_blank">
        <i class="fa-brands fa-twitter social-media__icon"></i>
      </a>
      <a class="social-media__item" href="#" target="_blank">
        <i class="fa-brands fa-discord social-media__icon"></i>
      </a>
      <a class="social-media__item" href="#" target="_blank">
        <i class="fa-brands fa-facebook social-media__icon"></i>
      </a>
      <a class="social-media__item" href="#" target="_blank">
        <i class="fa-regular fa-paper-plane social-media__icon"></i>
      </a>
      <a class="social-media__item" href="#" target="_blank">
        <i class="fa-brands fa-instagram social-media__icon"></i>
      </a>
    </div>
  </div>
</section>
