@import 'src/assets/scss/custom-breakpoints.scss';
@import '~bootstrap/scss/bootstrap-grid';

.app-home-banner {
  .container {
    position: relative;
  }

  .banner {
    position: relative;
    max-width: 895px;

    .banner-bg {
      width: 100%;
    }

    .banner-content {
      position: absolute;
      top: 318px;
      left: 125px;

      @include media-breakpoint-down(xl) {
        top: 250px;
      }

      @include media-breakpoint-down(lg) {
        top: 145px;
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 400px;
        top: 50px;
      }

      .juega-online {
        @include media-breakpoint-down(lg) {
          font-size: 50px;
          line-height: 60px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 50px;
          line-height: 60px;
        }
      }

      .gana-bnb {
        margin-left: 33px;
        font-size: 125px;
        line-height: 85px;

        @include media-breakpoint-down(lg) {
          margin-left: 33px;
          font-size: 100px;
          line-height: 48px;
        }

        @include media-breakpoint-down(sm) {
          margin-left: 0;
          font-size: 85px;
          line-height: 45px;
        }
      }

      .bienvenido,
      .plataforma {
        color: #D9D9D9;
      }

      .bienvenido {
        margin-top: 28px;
        @include media-breakpoint-down(sm) {
          margin-top: 35px;
        }
      }

      // .plataforma {
      //   color: #D9D9D9;
      // }
    }
  }

  .social-media {
    position: absolute;
    right: 50px;
    top: 170px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include media-breakpoint-down(lg) {
      right: 20px;
      top: 75px;
    }

    @include media-breakpoint-down(xs) {
      background-color: #1a1143;
      padding: 20px;
      border-radius: 10px;
      height: 300px;
      flex-wrap: wrap;
      width: 148px;
      flex-direction: row;
      transition: .3s;
      transform: scaleY(0);
      transform-origin: bottom;
      top: 0px;
    }

    &.active {
      @include media-breakpoint-down(xs) {
        transform: scaleY(1);
      }
    }
  }

  .social-media__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    border-radius: 66px;
    border: 1px solid;
    border-color: #fff;
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    transition: .3s;

    @include media-breakpoint-down(lg) {
      width: 46px;
      height: 46px;
      font-size: 22px;
    }

    &:hover,
    &:active {
      background-color: #6538E7;
      border-color: #6538E7;
    }

    .social-media__icon {
      &.fa-paper-plane {
        margin-left: -5px;
      }
    }

    .social-media__badge {
      position: absolute;
      left: -20px;
      bottom: -15px;
      border-radius: 31px;
      background-color: #6538E7;
      width: 41px;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;

      @include media-breakpoint-down(lg) {
        left: -10px;
        bottom: -5px;
        width: 21px;
        height: 21px;
        font-size: 12px;
      }
    }
  }
  .social-media__toggler {
    position: absolute;
    top: 315px;
    right: 20px;
    z-index: 99;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      display: none;
    }

    &.social-media__icon-active {
      background-color: #6538E7;
      border-color: #6538E7;
      transform: rotateZ(45deg);
    }
  }
}
