<section class="app-home-begin">
  <!-- <div class="container"> -->
    <div class="row m-0">
      <div class="col-title col-xl-4 col-xxl-6">
        <h2 class="title">
          Como Empezar
        </h2>
        <p class="intro-paraph">
          Sigue estos simples pasos
        </p>
      </div>
      <div class="col-tabs col-xl-8 col-xxl-6">
        <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink #tab1>
              <div class="nav-tab-toggler" [ngClass]="tab1.classList.contains('active') ? 'active d-none' : 'd-block'">
                Compra tu NFT
              </div>
              <div class="tab-wrapper text-center" [ngClass]="tab1.classList.contains('active') ? 'active d-block' : 'd-none'">
                <img src="/assets/images/home/home-begin/buy-nft.png" alt="Compra tu NFT" class="img-fluid tab-image">
                <h3 class="tab-title">Compra tu NFT</h3>
                <p class="tab-content">
                  Elige el rango de apuesta con el que estés más agusto
                </p>
              </div>
            </a>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink #tab2>
              <div class="nav-tab-toggler" [ngClass]="tab2.classList.contains('active') ? 'active d-none' : 'd-block'">
                Elije un Juego
              </div>
              <div class="tab-wrapper text-center" [ngClass]="tab2.classList.contains('active') ? 'active d-block' : 'd-none'">
                <img src="/assets/images/home/home-begin/choose-game.png" alt="Compra tu NFT" class="img-fluid tab-image">
                <h3 class="tab-title">Elije un Juego</h3>
                <p class="tab-content">
                  ¿Eres más de juegos de habilidad o de carreras?
                </p>
              </div>
            </a>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink #tab3>
              <div class="nav-tab-toggler" [ngClass]="tab3.classList.contains('active') ? 'active d-none' : 'd-block'">
                Compite y Gana BNB
              </div>
              <div class="tab-wrapper text-center" [ngClass]="tab3.classList.contains('active') ? 'active d-block' : 'd-none'">
                <img src="/assets/images/home/home-begin/earn-bnb.png" alt="Compra tu NFT" class="img-fluid tab-image">
                <h3 class="tab-title">Compite y Gana BNB</h3>
                <p class="tab-content">
                  Derrota a tu adversario para conseguir el premio
                </p>
              </div>
            </a>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  <!-- </div> -->
  <div class="container">
    <p class="more-questions">Si aún tienes dudas, te recomendamos leer las <a href="#" (click)="$event.preventDefault()">Preguntas Frecuentes</a></p>
  </div>
</section>
