/* You can add global styles to this file, and also import other style files */
@import 'swiper/swiper-bundle.css';
@import 'assets/scss/custom-breakpoints.scss';
@import '~bootstrap/scss/bootstrap';
@import 'assets/scss/buttons-styles.scss';
@import 'assets/scss/font-declarations.scss';
@import 'assets/scss/font-styles.scss';
@import 'assets/scss/form-styles.scss';
@import 'assets/scss/menu-styles.scss';
html,
body {
  height: 100%;
}

body {
  background-color: #07031E;
  background-image: url('/assets/images/home/home-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999999;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;

  .loader-wrapper {
    margin: auto;
    text-align: center;

    img {
      animation: pulse-bright 3s linear infinite;
      opacity: 1;
      transition: 3s;
      max-width: 100%;
    }

    h3 {
      font-family: 'Nunito';
      color: #fff;
    }
  }
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
}
.section-border {
  height: 4px;
    margin: 5px 0 25px;
    width: 100%;
    &.dark-border {
      // background: rgba(0, 0, 0, 0) url(assets/image/delimiter-black.png) no-repeat scroll center center;
    }
}

.element-box-shadow {
  box-shadow: 0 5px 20px 5px rgb(0 0 0 / 5%) !important;
}

.spacer_30 {
  height: 30px;
  width: 100%;
  clear: both;
}

.spacer_50 {
  height: 50px;
  width: 100%;
  clear: both;
}

.blur-5 {
  filter: blur(5px);
}

.user-select-none {
  * {
    user-select: none;
  }
}

.section-divider {
  padding: 60px 0;

  @include media-breakpoint-down(lg) {
    padding: 30px 0;
  }
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}

.modal-backdrop,
.modal {
  z-index: 105000!important;
}

app-toasts {
  z-index: 999999999999!important;
}

@keyframes pulse-bright {
  0% {
    transform: scale(1);
    filter: brightness(1.0);
  }
  50% {
    transform: scale(1.2);
    filter: brightness(1.5);
  }
  100% {
    transform: scale(1);
    filter: brightness(1.0);
  }
}
